<div class="overflow-x-auto">
  <table class="table{% if striped %} table-striped{% endif %}{% if hoverable %} hover:table-hover{% endif %}">
    {% if headers.size > 0 %}
    <thead>
      <tr>
        {% for header in headers %}
        <th>{{ header }}</th>
        {% endfor %}
      </tr>
    </thead>
    {% endif %}
    <tbody>
      {% for row in rows %}
      <tr>
        {% for cell in row %}
        <td>{{ cell }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
