<section class="py-16 bg-base-100">
    <div class="max-w-4xl mx-auto px-6 text-center">
        <h1 class="text-5xl font-extrabold tracking-tight mb-4">Documentation</h1>
        <p class="text-xl text-base-content/60">Everything you need to build with FluidHtmx</p>
    </div>
</section>

{% render 'partials/docs/setup' %}
{% render 'partials/docs/layouts' %}
{% render 'partials/docs/rendering' %}
{% render 'partials/docs/htmx-tags' %}
{% render 'partials/docs/filters' %}
{% render 'partials/docs/response-helpers' %}
{% render 'partials/docs/components' %}
{% render 'partials/docs/assets' %}
{% render 'partials/docs/template-resolution' %}
