{% case align %}
  {% when 'start' %}{% assign align_class = 'dropdown-start' %}
  {% else %}{% assign align_class = 'dropdown-end' %}
{% endcase %}
<div class="dropdown {{ align_class }}">
  <div tabindex="0" role="button" class="btn m-1">{{ label }}</div>
  <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
    {% for item in items %}
    <li><a href="{{ item.url }}">{{ item.label }}</a></li>
    {% endfor %}
  </ul>
</div>
